@using Microsoft.Web.Mvc
@using Smart.Controllers
@using Smart.Models
@model Smart.Models.Contract
@{
    ViewBag.Title = "EditFor demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Contract editor</h1>
@*@using (FormExtensions.BeginForm<CustomerController>(Html, o => o.Create(new Contract()), FormMethod.Post))*@
@using (Html.BeginForm<CustomerController>(o => o.Create(new FormCollection()), FormMethod.Post))
{
    @Html.EditorFor(o => o)
    <input type="submit"/>
}
